#album-container {
	background-color: black;
	height: 100vh;
}

#album-img {
	height: 100vh;
	display: block;
	margin: auto;
}

.text {
	color: white;
	position: fixed;
}

#title-container {
	font-family: 'Rock Salt', cursive;
	font-size: 25px;
    bottom: 45px;
    left: 2%;
}

#album-info {
	margin-top: 5%;
	font-family: 'BenchNine', sans-serif;
	font-size: 20px;
    bottom: 15px;
    left: 2%;
}

#sound {
	float: left;
	margin-right: 5px;
}

#album-text {
	float: left;
}

.play-music:hover {
	cursor: pointer;
}
